// Please try to maintain the same code style as outlined here:
// https://github.com/lintelio/lintel/blob/master/CONTRIBUTING.md

@import 'badges-vars';
@import 'badges-functions';
@import 'badges-mixins';


// Base
// ----
.badge {
  background-color: $badge-base-bg;
  border: 1px solid $badge-base-border;
  border-radius: $badge-border-radius;
  color: $badge-base-text;
  display: inline-block;
  font-size: $badge-font-size;
  line-height: 1;
  padding: $badge-padding-y $badge-padding-x;
  text-align: center;
  white-space: nowrap;
}


// Round
.badge-round {
  border-radius: 1000px;
  padding-left: $badge-padding-x-lg;
  padding-right: $badge-padding-x-lg;
}

// Sizes
.badge-sm {
  font-size: $badge-font-size-sm;
  font-weight: 600;
  text-transform: uppercase;
}

.badge-lg {
  font-size: $badge-font-size-lg;
}


// States
// ------
// Primary
.badge-primary {
  @include make-badge($bg: $badge-primary, $bg-inverse: $badge-primary-bg, $border-inverse: $badge-primary-border, $text-inverse: $badge-primary-text);
}

// Secondary
.badge-secondary {
  @include make-badge($bg: $badge-secondary, $bg-inverse: $badge-secondary-bg, $border-inverse: $badge-secondary-border, $text-inverse: $badge-secondary-text);
}

// Error
.badge-error {
  @include make-badge($bg: $badge-error, $bg-inverse: $badge-error-bg, $border-inverse: $badge-error-border, $text-inverse: $badge-error-text);
}

// Warning
.badge-warning {
  @include make-badge($bg: $badge-warning, $bg-inverse: $badge-warning-bg, $border-inverse: $badge-warning-border, $text-inverse: $badge-warning-text);
}

// Success
.badge-success {
  @include make-badge($bg: $badge-success, $bg-inverse: $badge-success-bg, $border-inverse: $badge-success-border, $text-inverse: $badge-success-text);
}

// Info
.badge-info {
  @include make-badge($bg: $badge-info, $bg-inverse: $badge-info-bg, $border-inverse: $badge-info-border, $text-inverse: $badge-info-text);
}
