// Please try to maintain the same code style as outlined here:
// https://github.com/lintelio/lintel/blob/master/CONTRIBUTING.md

// Global
$badge-include-inverse:   true;

$badge-padding-y:         0.3em !default;
$badge-padding-x:         0.5em !default;
$badge-padding-x-lg:      0.8em !default;

$badge-border-radius:     $border-radius-base !default;
$badge-font-size:         $font-size-xs !default;
$badge-font-size-sm:      0.6em !default;
$badge-font-size-lg:         $font-size-lg !default;

// Base
$badge-base-bg:           $bg-light !default;
$badge-base-border:       $border-base !default;
$badge-base-text:         $text-base !default;

// Primary
$badge-primary:           $state-primary;
$badge-primary-bg:        $state-primary-bg !default;
$badge-primary-border:    $state-primary-border !default;
$badge-primary-text:      $state-primary-text !default;

// Secondary
$badge-secondary:         $state-secondary;
$badge-secondary-bg:      $state-secondary-bg !default;
$badge-secondary-border:  $state-secondary-border !default;
$badge-secondary-text:    $state-secondary-text !default;

// Error
$badge-error:             $state-error;
$badge-error-bg:          $state-error-bg !default;
$badge-error-border:      $state-error-border !default;
$badge-error-text:        $state-error-text !default;

// Warning
$badge-warning:           $state-warning;
$badge-warning-bg:        $state-warning-bg !default;
$badge-warning-border:    $state-warning-border !default;
$badge-warning-text:      $state-warning-text !default;

// Success
$badge-success:           $state-success;
$badge-success-bg:        $state-success-bg !default;
$badge-success-border:    $state-success-border !default;
$badge-success-text:      $state-success-text !default;

// Info
$badge-info:              $state-info;
$badge-info-bg:           $state-info-bg !default;
$badge-info-border:       $state-info-border !default;
$badge-info-text:         $state-info-text !default;
